

@{
    var isAuthenticated = Program.isLoggedIn;
    var userName = Program.userName;
}

@if (isAuthenticated)
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
             <form action="@Url.Action("Profile", "Blog")" method="post" class="form-inline">
            <span class="navbar-text"><img src="~/images/verified-account.png" alt="avatar" width="20" height="20" /> @userName</span>
            </form>
        </li>
        <li class="nav-item">
            <form action="@Url.Action("Logout", "Blog")" method="post" class="form-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Login", "Blog")">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Register", "Blog")">Register</a>
        </li>
    </ul>
}