@{
    ViewBag.Title = "Home";
    var postData = (FetchPostsResponseModel) ViewBag.postData;
    var yourData = (FetchYourPostResponseModel) ViewBag.UserPostData;

}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Your custom CSS styles can go here */
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            margin-bottom : 80px;
        }

        .card {
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card-top{
            width: 320px;
            height: 220px;
        }
        .card-title{
            font-size:28px;
        }

        .card-text {
            font-size: 15px;
        }
    </style>
</head>
<body>
    <h3>Recent Posts</h3>
    <div class="container">
        @foreach(var item in postData.postsList){
            Random rnd = new Random();
            int num = rnd.Next(70);
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/id/@num/320/220" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Content.</p>
                    @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
                </div>
            </div>
        }
    </div>
    @if(Program.authenticatedUser != null && yourData.postsList.Count != 0){
    <h3>Your Posts</h3>
    <div class="container">
        @foreach (var item in yourData.postsList)
        {
            Random rnd = new Random();
            int num = rnd.Next(70);
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/id/@num/320/220" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Content.</p>
                    @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
                </div>
            </div>
        }
    </div>
    }
    


    <!-- Bootstrap and other JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your custom JavaScript code can go here -->
</body>
</html>
